<div class="user-index-wrapper">
  <div class="container">
    <% @users.each do |user| %>
     <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="user-index-single">
          <h2 class="user-author">
              <div class="image-system">
                <% if user.image? %>
                  <%= image_tag user.image.thumb.url%>
                 <% end %>
              </div>
              <div class="user-right">
                 <%= link_to user.name, user %>
              </div>
          </h2>
         </div>
       </div>
    </div>
  <% end %>
 </div>
</div>