<div class="topic-index-wrapper">
  <div class="container">
    <div class ="low">
      <h1 class ="text-center text-white">ユーザー情報</h1>
      <h2 class="user-infomation"><%= @user.name %></h2>
      
      <p class="user-infomation"><%= @user.email %></p>
      <%= link_to("編集", edit_user_path) %>
    </div>
  </div>
</div>