<div class="topic-index-wrapper">
  <div class="container">
    <h1 class="explation-sort">投稿を見たい月を選んでください</h1>
      <%= form_tag (songs_sort_path, method: :post)  do %>
      <div class="input-date">
       <p>この日から</p>
       <input type="date" name="start_date">

       <p>この日まで</p>
       <input type="date" name="end_date">       
      </div>
      <input type="submit" value="この設定で動画を閲覧する">
    <% end %>
  </div>
</div>