<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">あなたの才能を16小節に詰め込もう！</h1>
    <h2 class="text-white">16novel はラップを気軽に投稿、鑑賞できるSNSサービスです。</h2>
    <div class="row">
        <%= link_to 'アカウント作成はこちら', new_user_path, class: 'btn new' %>
        <%= link_to 'ログインはこちら',login_path ,class: 'btn login' %>
    </div>
  </div>
</div>