// Place all the styles related to the rappers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rappers {
  background-image: url('rapper-index.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  .rapper-index-wrapper {
    text-align :center;
    .rapper-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 100px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
      .rapper-author {
        padding-right: 20px;
        padding-left: 20px;
      }
    
      .image-system{
      position:absolute;
      bottom:30px;
      width:130px;
      height:130px;
      }
    
      img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
  .rapper-show-wrapper {
    margin: 50px;
    text-align:center;
      .image-system{
      width:230px;
      height:230px;
      }
    
      img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
      }
   .edit-rapper {
     color:green;
     margin:40px;
   } 
   .delete-rapper {
     margin:40px;
     color:red;
   }
.btn-top-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #FFA000;
  background: #fff1da;
  border-bottom: solid 4px #FFA000;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}

.btn-top-radius:hover {
  background: #ffc25c;
  color: #FFF;
}
   
  }
  .rapper-index-single {
    .rank{
      position:relative;
       top : 80px;
    }
    
    .rank-one {
      font-size:100px;
    	text-align:center;
    	line-height:0.95em;
    	font-weight:bold;
    	color: transparent;
    	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
    	-webkit-background-clip: text;
    }
    
    .rank-two {
      font-size:100px;
    	text-align:center;
    	line-height:0.95em;
    	font-weight:bold;
    	color: transparent;
    	background: repeating-linear-gradient(0deg, #757575 0.1em, #9E9E9E 0.2em, #E8E8E8 0.3em, #9E9E9E 0.4em, #757575 0.5em); 
    	-webkit-background-clip: text;
    }
    
    .rank-three{
      font-size:100px;
     color:#C47022;
    }
    .vote-number {
      margin-top: 50px;
      font-size: 20px;
    }
  }
}