// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions {
      .users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  
    .users-new-container {
      padding-top: 220px;
  
      .form-group {
        margin-bottom: 20px;
      }
    }
  }
    /* ログインページのボタン */
  .real-login{
    padding: 10px 20px;
    font-size :20px;
    background-color : yellow;
    box-shadow:0px 5px white;
  }
  .real-login:active{
    position:relative;
    top:10px;
    box-shadow :none;
  }
  /*終わり */
}