.songs,.favorites {
   background-image: url('orange.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  .song-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('new-song.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-top: 120px;
  }
  
  .add-video{
    padding: 10px 20px;
    font-size :20px;
    background-color : #00FF00;
    box-shadow:0px 5px green;
  }
  
  .add-video:active{
    position:relative;
    top:10px;
    box-shadow :none;
  }
  
  .song-index-wrapper {
    .song-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 100px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
  
      .song-text {
        padding-right: 20px;
        padding-left: 20px;
      }
      .song-title {
        font-size: 45px;
      }
  
      .song-index-icon {
        width: 35px;
        height: 30px;
        margin-left: 20px;
      }
    }
    img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    }
    .song-user-image {
      position:absolute;
      width:100px;
      height:100px;
    }
  }
  
  .song-user-name {
    position :relative;
    font-size:60px;
    font-weight:bold;
  }
  
  .song-topic-left {
    position:relative; bottom: 670px;
    position :relative; right: 650px;
    .sentence-list-item {
      text-align:left;
    }
  }
  
  .song-topic-right {
    position:relative; bottom: 600px;
    position :relative; left: 650px;
    
    .comment {
      text-align : left;
    }
  }
  
  .song-index-wrapper{
      text-align :center;
  }
  
  .main {
    position:relative;
    top :100px;
  }
  
  .user-right {
    position: relative;
    top : 20px;
    float :center;
  }
  
  .song-index-icon {
    width: 35px;
    height: 30px;
  }
  .rank{
    position:relative;
     top : 80px;
  }
  
  .rank-one {
    font-size:100px;
  	text-align:center;
  	line-height:0.95em;
  	font-weight:bold;
  	color: transparent;
  	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
  	-webkit-background-clip: text;
  }
  
  .rank-two {
    font-size:100px;
  	text-align:center;
  	line-height:0.95em;
  	font-weight:bold;
  	color: transparent;
  	background: repeating-linear-gradient(0deg, #757575 0.1em, #9E9E9E 0.2em, #E8E8E8 0.3em, #9E9E9E 0.4em, #757575 0.5em); 
  	-webkit-background-clip: text;
  }
  
  .rank-three{
    font-size:100px;
   color:#C47022;
  }
  .btn-text-3d {
  margin-top:30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #799dec;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
  .btn-text-3d:active {
    top: 4px;
    text-shadow: none;
  }
  
  .sentence {
    display:none;
    font-size: 15px;
  }
  .move-left {
    float:left;
  }
  .date-choice {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    text-align :center;
  }
}




